// 业务样式通用主题
$base-theme: #558E7B;
$base-theme-hover: #bdf6e3;
$base-theme-active: #2196f3;
$base-theme-text: #333;
$base-theme-label-text: rgba(0, 0, 0, .45);
$base-theme-text-active: #fff;
$base-theme-border-style: 1px solid;
$base-theme-border-color: #e6e6e6;
$base-theme-border-color-hover: #ccc;
$base-theme-border-radius: 8px;
$base-theme-content-padding: 0 16px;
$base-theme-content-margin: 10px;
$base-theme-content-bg: #FFF;
$base-theme-item-bg: #f9fafa;